extends layout

block content
  .wrapper
    .header
      h1 Graph Isomorphism Tester
    .content
      .formContent
        .leftGraph
          input(type='file', name='leftGraph')
          .leftGraphData.graphData
            p= fileNames[0]
        .rightGraph
          input(type='file', name='rightGraph')
          .rightGraphData.graphData
            p= fileNames[1]
        .bottomRow
          p= izomorf
          a(href='/')
            input(type='button', value='Reload')