.wrapper {
  display: grid;
  grid-template-rows: 1fr;
}

.formContent {
  display: grid;
  grid-template-columns: 250px 1fr 1fr 250px;
  grid-template-rows: 1fr 100px;
}

.leftGraph {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.rightGraph {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.bottomRow {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.header {
  text-align: center;
}

.header h2 {
  color: red;
}

.help {
  text-align: center;
  width: 20%;
  margin: 0 auto;
}

.example {
  text-align: left;
}

.example p {
  margin: 0;
}

.formContent {
  text-align: center;
}

.leftGraph, .rightGraph {
  margin: 15px auto;
}

.examples {
  text-align: center;
}

.exampleFiles p {
  margin: 10px 0 0 0;
}

.exampleFiles a {
  margin: 0 3px;
  padding: 0 5px;
}